<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738432991623-bo1ndi82i1sn9oegfb9o1qo0i1n0ipmv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738432991623-bo1ndi82i1sn9oegfb9o1qo0i1n0ipmv</string>
	<key>API_KEY</key>
	<string>AIzaSyAuyxQKcyLC-BiVa-JbHkjsQPqF77gCk5w</string>
	<key>GCM_SENDER_ID</key>
	<string>738432991623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookListSample</string>
	<key>PROJECT_ID</key>
	<string>book-list-sample-68ec8</string>
	<key>STORAGE_BUCKET</key>
	<string>book-list-sample-68ec8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:738432991623:ios:506a00b2114197ede05322</string>
</dict>
</plist>
